# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Gradle
.gradle/

# IDE
.idea/
.vscode/

# Local compiled classes and builds
bin/
build/
api/build/
reveila/build/

# Maven
target/

# Local configurations
local.properties

# IDE module files
*.iml
