# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Gradle
/.gradle/
/build/

# IDE
/.idea/
/.vscode/
/bin/
/api/build/
/reveila/build/

# Maven
/target/

# Local configurations
runtime-directory/

.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
api/build/reports/tests/test/index.html
api/build/reports/tests/test/classes/reveila.spring.ApplicationTests.html
api/build/reports/tests/test/packages/reveila.spring.html
api/build/test-results/test/binary/output.bin
api/build/test-results/test/binary/results.bin
reveila/build/resources/main/system.properties
reveila/runtime-directory/configs/system.properties
